* {
    margin: 0;
    padding: 0;
}
body{
background-image: url(../img/background.jpg);
}
.head1{
	background: url(../img/Lifiled.jpeg);
	height: 650px;
	width: 160%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	margin-top:8%;
}
.icon{
	font-size: 83px !important;
}
.imglifiled2{
	margin-top: 40px;
	    width: 537px;
    height: 309px;
    margin-left: -12px;
}
.pr{
	margin-top: 3%;
}
.formulaire{
	padding-top: 5%;
	cursor: pointer;


}
.red0{
	padding-top: 2%;
}
.imglifiled{
    height: 300px;
	text-align: center;
}

.e{
	color: white;
}
.card-body:hover{
background: black;
color: white;

}